/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.clj-kondo/
.shadow-cljs/
.calva/
.lsp/
.idea/
.cpcache/
.DS_Store
node_modules/
**/.DS_Store