article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

h1 {
	font-size: 2em;
	mix-blend-mode: difference;
	margin: 0.67em 0;
}

p {
	mix-blend-mode: difference;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

mark {
	background: #ff0;
	color: #000;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--color-text: #fff;
	--color-bg: #252525;
	--color-link: #fff;
	--color-link-hover: #fbd54a;
	--color-bg-item1: #15171b;
	--color-bg-item2: #2c35b7;
	--color-bg-item3: #0f1013;
	--color-bg-item4: #1d2027;
	--color-bg-item5: #0f1013;
	--color-item-alt: #494d54;
	--color-quote: #5b677a;
	--color-info: #57535a;
	--color-title: #fbd54a;
	--color-tagline: #e2e2e2;
	font-family: "Muli", 'Philosopher', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app{
	overflow-x: hidden;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}


a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	transition: color 0.2s;
	mix-blend-mode: difference;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

button:focus,
a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

.frame {
	position: relative;
	z-index: 199;
}

.c_href {
	font-size: 4vw;
	text-transform: lowercase;
	overflow: visible;
	margin: 0.5rem 0;
	padding: 0 0.5rem;
	position: relative;
	transition: color 0.3s;
}

.c_href:hover {
	color: var(--color-item-alt);
}

.inside {
	text-align: center;
	z-index: 100;
	display: grid;
	width: 100%;
	grid-area: codropsheader;
	grid-template-columns: 10% 90%;
	grid-template-rows: repeat(33.33%);
	grid-template-areas:
		'codropsheader info'
		'... ...';
	padding: 8vh 4vw;
}

.works {
	text-align: center;
	position: relative;
	z-index: 100;
	padding-top: 17.61111vw;
}

.skills {
	text-align: center;
	position: relative;
	z-index: 100;
	padding-top: 17.61111vw;
}

.contacts {
	text-align: center;
	position: relative;
	z-index: 100;
	padding-top: 13.61111vw;
}

.c_title {
	font-family: "Philosopher", sans-serif;
	font-size: 10vw;
	font-weight: normal;
	mix-blend-mode: screen;
	line-height: 0.8;
	text-transform: uppercase;
	margin: 0;
	padding-top: 0.2em;
	/* color: var(--color-title); */
	z-index: 9;
	font-weight: bold;
}

.s_title {
	font-family: "Philosopher", sans-serif;
	font-weight: normal;
	mix-blend-mode: screen;
	line-height: 0.8;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1em;
	/* color: var(--color-title); */
	z-index: 9;
	font-size: 5vw;
	line-height: 1;
	font-weight: normal;
}

.w_title {
	font-family: "Philosopher", sans-serif;
	font-size: 10vw;
	font-weight: normal;
	mix-blend-mode: screen;
	line-height: 0.8;
	text-transform: uppercase;
	margin: 0;
	padding-top: 0.2em;
	/* color: var(--color-title); */
	z-index: 9;
}

/* *************************************************/
.gridlogo {
	padding: 4rem 4rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 2vw;
	grid-row-gap: 10vh;
	max-width: 1300px;
}

.grid {
	padding: 4rem 4rem;
	margin: 0 auto;
	display: grid;
	/*grid-template-columns: repeat(2,calc(50% - 5vw));*/
	grid-column-gap: 10vw;
	grid-row-gap: 25vh;
	max-width: 1300px;
}

.grid__item {
	height: 45vh;
	position: relative;
}

.grid__item--bg {
	background: #0e0b94;
}

/*.grid__item:nth-child(even) {
	margin-top: -10vh;
}*/

.gridlogo__item-img {
	width: 100%;
	height: 58%;
	background-size: cover;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

.grid__item-imgwrap,
.grid__item-img {
	width: 100%;
	height: 100%;
	background-size: cover;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	-webkit-transition: all 0.4s ease-out;
}

.grid__item-img:hover {
	width: 100%;
	height: 100%;
	background-size: cover;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.grid__item-imgwrap {
	overflow: hidden;
}

.grid__item-content {
	position: absolute;
	bottom: -2rem;
	right: 0;
	z-index: 10;
	width: 100%;
}

.grid__item-title {
	font-size: 3.5vw;
	margin: 0 -3rem 2rem 0;
	color: #fff;
	text-align: right;
	text-transform: lowercase;
}

.grid__item-title--inverted {
	color: #0e0ca5;
}

.grid__item-cta {
	text-align: right;
	width: 100%;
	font-weight: bold;
	display: block;
	font-size: 1.5rem;
	color: #9e0db7;
	text-transform: lowercase;
	display: flex;
	justify-content: flex-end;
}

.grid__item-cta span {
	flex: none;
	white-space: pre;
	opacity: 0;
}

/* *************************************************/

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	align-self: start;
}

.codrops-header__title {
	font-size: 1.3rem;
	line-height: 1;
	font-weight: normal;
	margin: 0 1rem;
}

.info {
	display: block;
	grid-area: info;
	margin: 1rem 0;
	justify-self: end;
	text-align: center;
}


/* Top Navigation Style */

.about__tagline {
	color: var(--color-tagline);
	margin: 0;
	padding-right: 12px;
	font-weight: bold;
	letter-spacing: 0.125rem;
	word-spacing: 0.25rem;
	text-transform: uppercase;
	text-align: right;
	z-index: 199;
	position: inherit;
	justify-content: start;
}

.about__content {
	color: var(--color-tagline);
	margin: 0;
	letter-spacing: 0.125rem;
	word-spacing: 0.25rem;
	z-index: 199;
	position: inherit;
	text-align: left;
}

.content__tagliner {
	color: var(--color-text);
	margin: 1rem 0 0 0;
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 0.125rem;
	word-spacing: 0.25rem;
	text-align: left;
	z-index: 199;
	position: inherit;
	text-align: left;
}

.grid__item-title {
	font-size: 7.5vw;
	margin: 0 -3rem 2rem 0;
	color: #fff;
	text-align: right;
	text-transform: lowercase;
}

.grid__item-title--inverted {
	color: #0e0ca5;
}

.action {
	background: none;
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 0;
}

.action--menu {
	pointer-events: auto;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	z-index: 1000;
}

.menu--open .action--menu {
	pointer-events: none;
}

.action--close {
	position: absolute;
	top: 1.5rem;
	right: 1.75rem;
	z-index: 1000;
	opacity: 0;
	padding: 0 0.5rem;
}

.icon--menu {
	width: 2rem;
}

.icon--close {
	width: 1rem;
}

.menu {
	text-align: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, 33.33%);
	pointer-events: none;
}

.menu--open {
	pointer-events: auto;
}

.menu__item {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.menu__item-inner {
	overflow: hidden;
	transform: translate3d(100%, 0, 0);
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu__main_nav_item .menu__item-inner {
	background: var(--color-bg-item1);
}

.menu__item--2 .menu__item-inner {
	background: var(--color-bg-item2);
}

.menu__item--3 .menu__item-inner {
	background: var(--color-bg-item3);
}

.menu__item--4 .menu__item-inner {
	background: var(--color-bg-item4);
}

.menu__item--5 .menu__item-inner {
	background: var(--color-bg-item5);
}

.menu__item--4,
.menu__item--5 {
	display: none;
}

.label {
	display: none;
}

.mainmenu__item {
	opacity: 0;
}

.mainmenu__item,
.sidemenu__item {
	position: relative;
	overflow: hidden;
	transition: color 0.1s;
	margin: 0.25rem 0;
	display: block;
}

.sidemenu__item-inner {
	display: block;
	transform: translate3d(0, 100%, 0);
}

.menu__item-map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/hands-me.jpg) no-repeat 50% 50%;
	background-size: cover;
	transition: transform 0.8s cubic-bezier(0.2, 1, 0.8, 1);
}

.menu__item-inner:hover .menu__item-map {
	transform: scale3d(1.1, 1.1, 1);
}

.menu__item-hoverlink {
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
	z-index: 1000;
	display: block;
}

.menu__item-hoverlink:hover {
	color: var(--color-link);
}

.quote {
	font-size: 2rem;
	padding: 1rem;
	text-align: center;
	max-width: 70%;
	color: var(--color-quote);
	font-family: "Philosopher", serif;
}

.menu__item-link {
	text-align: left;
	align-self: flex-start;
	justify-self: start;
	font-size: 1.5rem;
	width: 100%;
	line-height: 1;
	padding: 2rem;
	margin: 3rem 0 auto;
	display: flex;
	flex-direction: column;
	height: calc(100% - 3rem);
}

.menu__item-link::after {
	content: '\27F6';
	display: block;
	margin-top: auto;
	font-size: 0.95rem;
}


@media screen and (max-width: 500px) {
	.icon {
		display: block;
		width: 2em;
		height: 2em;
		margin: 0 auto;
		color: var(--color-title);
	}

	.inside {
		display: grid;
		width: 100%;
		grid-area: codropsheader;
		grid-template-columns: 10% 90%;
		grid-template-rows: repeat(33.33%);
		grid-template-areas:
			'codropsheader info'
			'... ...';
		padding: 15vw 2em;
	}

	.about__tagline {
		font-size: 0.4rem;
		padding-right: 0px!important;
	}

	.about__content {
		font-size: 1rem;
	}

	.content__tagliner {
		color: var(--color-text);
		margin: 1rem 0 0 0;
		font-weight: bold;
		font-size: 3rem;
		letter-spacing: 0.125rem;
		word-spacing: 0.25rem;
		text-align: left;
		z-index: 199;
		position: inherit;
		text-align: left;
	}

	.bot {
		color: var(--color-tagline);
		font-weight: bold;
		font-size: 0.5rem;
		letter-spacing: 0.125rem;
		word-spacing: 0.25rem;
		text-transform: uppercase;
		text-align: center;
		z-index: 199;
		position: inherit;
		padding-bottom: 30px;
	}

	.grid {
		padding: 1rem;
		grid-template-columns: 100%;
		grid-row-gap: 4rem;
	}

	/*.grid__item:nth-child(even) {
		margin-top: 0;
	}*/
	.grid__item-title {
		font-size: 1.5rem;
		margin-right: 1rem;
	}

	.grid__item-cta {
		font-size: 1rem;
	}

	.grid__item-imgwrap,
	.grid__item-img {
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
	}

	.s_title {
		font-family: "Philosopher", sans-serif;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-align: center;
		text-transform: uppercase;
		padding-top: 1em;
		/* color: var(--color-title); */
		z-index: 9;
		font-size: 2rem;
		line-height: 1;
		font-weight: normal;
	}

	.w_title {
		font-family: "Philosopher", sans-serif;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-align: center;
		text-transform: uppercase;
		padding-top: 1em;
		/* color: var(--color-title); */
		z-index: 9;
		font-size: 2.5rem;
		line-height: 1;
		font-weight: normal;
	}

	.c_title {
		font-family: "Philosopher", sans-serif;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-align: center;
		text-transform: uppercase;
		padding-top: 1em;
		/* color: var(--color-title); */
		z-index: 9;
		font-size: 2.5rem;
		line-height: 1;
		font-weight: bold;
	}

	.c_subtitle {
		font-family: "Muli", sans-serif;
		font-weight: normal;
		color: #e5e5e5;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-align: center;
		/* color: var(--color-title); */
		z-index: 9;
		font-size: 1rem;
		line-height: 1;
	}

	.c_href {
		font-size: 10vw;
		text-transform: lowercase;
		overflow: visible;
		margin: 0.5rem 0;
		padding: 0 0.5rem;
		position: relative;
		transition: color 0.3s;
	}

	.c_href:hover {
		color: var(--color-item-alt);
	}
}

@media screen and (max-width: 53em){
	.about__tagline {
		font-weight: bold;
		padding-right: 4vw;
		font-size: 0.5rem;
		position: inherit;
		justify-content: start;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

}

@media screen and (min-width: 53em) {
	body {
		padding: 0;
	}


	.frame {
		position: fixed;
		z-index: 199;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		height: 100vh;
		padding: 1.5rem;
		pointer-events: none;
		grid-template-columns: 30% 70%;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'codropsheader info'
			'... ...';
	}

	.bot {
		color: var(--color-tagline);
		font-weight: bold;
		font-size: 0.5rem;
		letter-spacing: 0.125rem;
		word-spacing: 0.25rem;
		text-transform: uppercase;
		text-align: center;
		z-index: 199;
		position: inherit;
	}

	.codrops-header {
		grid-area: codropsheader;
		padding: 0;
		justify-content: start;
	}

	.frame a {
		pointer-events: auto;
	}

	.inside {
		text-align: center;
		z-index: 100;
		left: 27.08333vw;
		display: grid;
		width: 100%;
		grid-area: codropsheader;
		grid-template-columns: 10% 90%;
		grid-template-rows: repeat(33.33%);
		grid-template-areas:
			'codropsheader info'
			'... ...';
		padding-top: 8vw;
	}

	.c_subtitle {
		font-family: "Muli", sans-serif;
		font-weight: normal;
		color: #e5e5e5;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-align: center;
		/* color: var(--color-title); */
		z-index: 9;
		font-size: 1.7rem;
		line-height: 1;
	}

	.info {
		margin: 0 6rem 0 0;
		color: #bbbbbb;
	}

	.menu {
		width: 100%;
		height: 100vh;
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		grid-template-columns: 20% 50% 30%;
		grid-template-rows: 60% 40%;
		grid-template-areas:
			"item3 item2 item1"
			"item4 item5 item1";
	}

	.menu__item {
		height: 100%;
	}

	.menu__main_nav_item {
		grid-area: item1;
	}

	.menu__item--2 {
		grid-area: item2;
	}

	.menu__item--3 {
		grid-area: item3;
	}

	.menu__item--4 {
		grid-area: item4;
	}

	.menu__item--5 {
		grid-area: item5;
	}

	.menu__item--4,
	.menu__item--5 {
		display: block;
	}

	.menu__item-inner {
		align-items: center;
	}

	.label {
		display: block;
		color: var(--color-item-alt);
		position: absolute;
		z-index: 1000;
		font-size: 0.85rem;
		font-weight: bold;
		margin: 0;
		white-space: nowrap;
	}

	.label--topleft {
		top: 2rem;
		left: 2rem;
	}

	.label--vert,
	.label--vert-mirror {
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}

	.label--vert-mirror {
		transform: rotate(180deg);
	}

	.label--bottomright {
		bottom: 2rem;
		right: 2rem;
	}

	.label::before {
		content: '------------ ';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		letter-spacing: -1px;
		margin: 0 0.75rem 0 0;
	}

	.label--vert::before,
	.label--vert-mirror::before {
		margin: 0.75rem 0;
	}

	.mainmenu,
	.sidemenu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.mainmenu {
		counter-reset: menuitem;
	}

	.mainmenu__item {
		font-size: 4vw;
		/*text-transform: lowercase;*/
		overflow: visible;
		margin: 0.5rem 0;
		padding: 0 0.5rem;
		position: relative;
		transition: color 0.3s;
		font-family: "Philosopher", serif;
	}

	.mainmenu__item:hover {
		color: var(--color-item-alt);
	}

	.mainmenu__item::before {
		counter-increment: menuitem;
		content: counters(menuitem, "", decimal-leading-zero);
		position: absolute;
		font-size: 0.85rem;
		top: 25%;
		left: -1.25rem;
		color: var(--color-item-alt);
	}

	.mainmenu__item::after {
		content: '';
		width: 100%;
		top: 58%;
		height: 6px;
		background: var(--color-link-hover);
		position: absolute;
		left: 0;
		opacity: 0;
		transform: scale3d(0, 1, 1);
		transition: transform 0.3s, opacity 0.3s;
		transform-origin: 100% 50%;
	}

	.mainmenu__item:hover::after {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}

	.sidemenu__item {
		text-transform: uppercase;
		letter-spacing: 0.15rem;
		font-size: 0.85rem;
	}

	.menu__item-hoverlink {
		font-size: 1.25rem;
		text-transform: lowercase;
		color: #000;
		border-bottom: 2px solid #000;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.menu__item-inner:hover .menu__item-hoverlink {
		opacity: 1;
	}

	.about__tagline {
		font-size: 0.5rem;
	}

	.about__content {
		font-size: 1.5rem;
	}

	.content__tagliner {
		color: var(--color-text);
		margin: 1rem 0 0 0;
		font-weight: bold;
		font-size: 3rem;
		letter-spacing: 0.125rem;
		word-spacing: 0.25rem;
		text-align: left;
		z-index: 199;
		position: inherit;
		text-align: left;
	}

	.s_title {
		font-family: "Philosopher", sans-serif;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-align: center;
		text-transform: uppercase;
		padding-top: 1em;
		/* color: var(--color-title); */
		z-index: 9;
		font-size: 5vw;
		line-height: 1;
		font-weight: normal;
	}

	.w_title {
		font-family: "Philosopher", sans-serif;
		font-size: 5vw;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-transform: uppercase;
		margin: 0;
		padding-top: 0.2em;
		/* color: var(--color-title); */
		z-index: 9;
	}

	.c_title {
		font-family: "Philosopher", sans-serif;
		font-size: 10vw;
		font-weight: normal;
		mix-blend-mode: screen;
		line-height: 0.8;
		text-transform: uppercase;
		margin: 0;
		padding-top: 0.2em;
		/* color: var(--color-title); */
		z-index: 9;
		font-weight: bold;
	}

	.grid {
		padding: 4rem 4rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 5vw));
		grid-column-gap: 10vw;
		grid-row-gap: 25vh;
		max-width: 1300px;
	}

	.gridlogo {
		padding: 4rem 4rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 16% 16% 16% 16% 16% 16%;
		grid-column-gap: 10vw;
		grid-row-gap: 25vh;
		max-width: 1300px;
	}

	.grid-item-logo {
		display: absolute;
	}

	.grid__item {
		height: 45vh;
		position: relative;
	}

	.grid__item--bg {
		background: #0e0b94;
	}

	/*.grid__item:nth-child(even) {
	margin-top: -10vh;
}*/

	.grid__item-imgwrap,
	.grid__item-img {
		width: 100%;
		height: 100%;
		background-size: cover;
		-moz-transition: all 0.4s ease-out;
		-o-transition: all 0.4s ease-out;
		-webkit-transition: all 0.4s ease-out;
	}

	.grid__item-img:hover {
		width: 100%;
		height: 100%;
		background-size: cover;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	.grid__item-imgwrap {
		overflow: hidden;
	}

	.grid__item-content {
		position: absolute;
		bottom: -2rem;
		right: 0;
		z-index: 10;
		width: 100%;
	}

	.grid__item-title {
		font-size: 3.5vw;
		margin: 0 -3rem 2rem 0;
		color: #fff;
		text-align: right;
		text-transform: lowercase;
	}

	.grid__item-title--inverted {
		color: #0e0ca5;
	}

	.grid__item-cta {
		text-align: right;
		width: 100%;
		font-weight: bold;
		display: block;
		font-size: 1.5rem;
		color: #9e0db7;
		text-transform: lowercase;
		display: flex;
		justify-content: flex-end;
	}

	.grid__item-cta span {
		flex: none;
		white-space: pre;
		opacity: 0;
	}

	.gridlast {
		padding: 4rem 4rem;
		margin: 0 auto;
		display: grid;
		max-width: 1300px;
		grid-template-columns: 40% 60%;
		grid-template-rows: auto auto auto;
		grid-template-areas: 'codropsheader info'
			'... ...';
	}
}

/*==================================
    TIMELINE
==================================*/

    /*-- GENERAL STYLES
    ------------------------------*/
    .timeline {
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        h1, h2, h3, h4, h5, h6 {
            line-height: inherit;
        }
    }

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 0; bottom: 0; left: 0;
        width: 15px;
        &:before {
            background: #fbd54a;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px; left: 0;
            width: 15px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 3px;
            background: #CCD5DB;
            display: block;
            position: absolute;
            top: 24px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }
    .timeline-item:not(.period):hover .timeline-marker:before {
        background: transparent;
        border: 3px solid #fbd54a;
    }

    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
        p:last-child {
            margin-bottom: 0;
        }
    }

    /*----- TIMELINE PERIOD -----*/

    .period {
        padding: 0;
        .timeline-info {
            display: none;
        }
        .timeline-marker {
            &:before {
                background: transparent;
                content: "";
                width: 15px;
                height: auto;
                border: none;
                border-radius: 0;
                top: 0;
                bottom: 30px;
                position: absolute;
                border-top: 3px solid #CCD5DB;
                border-bottom: 3px solid #CCD5DB;
            }
            &:after {
                content: "";
                height: 32px;
                top: auto;
            }
        }
        .timeline-content {
            padding: 40px 0 70px;
        }
        .timeline-title {
            margin: 0;
        }
    }

    /*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

        .timeline-split {
            @media (min-width: 768px) {
                .timeline {
                    display: table;
                }
                .timeline-item {
                    display: table-row;
                    padding: 0;
                }
                .timeline-info,
                .timeline-marker,
                .timeline-content,
                .period .timeline-info {
                    display: table-cell;
                    vertical-align: top;
                }
                .timeline-marker {
                    position: relative;
                }
                .timeline-content {
                    padding-left: 30px;
                }
                .timeline-info {
                    padding-right: 30px;
                }
                .period .timeline-title {
                    position: relative;
                    left: -45px;
                }
            }
        }

    /*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

        .timeline-centered {
            @extend .timeline-split;
            @media (min-width: 992px) {
                &,
                .timeline-item,
                .timeline-info,
                .timeline-marker,
                .timeline-content {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                .timeline-item {
                    padding-bottom: 40px;
                    overflow: hidden;
                }
                .timeline-marker {
                    position: absolute;
                    left: 50%;
                    margin-left: -7.5px;
                }
                .timeline-info,
                .timeline-content {
                    width: 50%;
                }
                > .timeline-item:nth-child(odd) .timeline-info {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item:nth-child(odd) .timeline-content {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-info {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-content {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item.period .timeline-content {
                    float: none;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .timeline-item.period {
                    padding: 50px 0 90px;
                }
                .period .timeline-marker:after {
                    height: 30px;
                    bottom: 0;
                    top: auto;
                }
                .period .timeline-title {
                    left: auto;
                }
            }
        }

    /*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/

        .marker-outline {
            .timeline-marker {
                &:before {
                    background: transparent;
                    border-color: #fbd54a;
                }
            }
            .timeline-item:hover .timeline-marker:before {
                background: #fbd54a;
            }
        }
